<div id="rails"></div>

<h1>Channel list</h1>

<div id="channels-container">
  <div id="channels">
  </div>
</div>


<script type="text/template" id="channel-entry">
  <div class="slice duration-<%%= duration %>"><%%= title %></div>
</script>

<script type="text/template" id="channel">
  <%% _(programs).each(function(x){ %>
    <%%= _.template($("#channel-entry").html())(x) %>
  <%% }); %>
</script>
